<div class="center jumbotron">
  <h1>HARUKAのポートフォリオサイトへようこそ！</h1>
  <h2>
    このサイトは
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    で作成したポートフォリオです。
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
