<!--  ユーザー一覧ページ  -->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%# <% @users.each do |user| %>
    <%#= render user %>
  <%# <% end %>
    <%= render @users %>
  <!-- @usersをrenderで読み出すと、Railsは自動的に@usersをUserオブジェクトのリストであると推測。さらに、ユーザーのコレクションを列挙し、それぞれのユーザーを_user.html.erbパーシャルで出力する。 -->
</ul>

<%= will_paginate %>
<%# 実は、上のコードは引数なしで動作していました。これはwill_paginateが、Usersコントローラのコンテキストにおいて、@usersインスタンス変数が存在していることを前提としているため %>
